name: Cache Example

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-7e05ed9
          restore-keys: |
            cache-

      - name: prime-cache-7e05ed9
        run: echo "Cache hit? ${{ steps.cache-deps.outputs.cache-hit }}"

      - name: Install dependencies
        run: pip install -r requirements.txt
